body{
    background:#0F2027;
    background:-webkit-linear-gradient(to right, #d0eefc, #ffffff) ;
    background: linear-gradient(to right, #d0eefc, #ffffff);
}

#join-btn{
    position: fixed;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-100px;
    font-size:18px;
    padding:20px 40px;
}

#video-streams{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    height: 90vh;
    width: 1400px;
    margin:0 auto;
}

.video-container{
    max-height: 100%;
    border: 2px solid #000000;
    background-color: #13555a;
}

.video-player{
    height: 100%;
    width: 100%;
}

button{
    border:none;
    background-color: rgb(95, 160, 122);
    color:#fff;
    padding:10px 20px;
    font-size:16px;
    margin:2px;
    cursor: pointer;
}

#stream-controls{
    display: none;
    justify-content: center;
    margin-top:0.5em;
}

.chat{
    width: 50%;
    margin: 20px auto;
    display: flex;
    align-content: center;
    justify-content: center;
}

#prevencion{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4c8aa5;
    font-size: large;
}


@media screen and (max-width:1400px){
    #video-streams{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        width: 95%;
    }

    .chat{
        width:95%;
        margin: auto;
        margin-top: 9px;
        text-align: center;
    }
}